<a href="/search"><img src="/images/back.png" alt="back" class="back"></a>

<div>
<img src={{place.image}} alt="image of the place">

<h1>Tipe of Place: {{{place.place}}}</h1>

<p>Description: {{{place.description}}}</p>

 <p>Comments:{{{place.opinions}}} </p>



</div>


<a href="/places/opinions/{{{place._id}}}">Add your opinions</a>


<footer>
      <!-- Home -->
      <a href="/"><img src="/images/home.png" lat="home" class="home"></a>
      <!-- Add -->
      <a href="/places/add"><img src="/images/plus.png" lat="add" class="plus"></a>
      <!-- Profile -->
      <a href="/profile"><img src="/images/profile.png" lat="profile" class="profile"></a>
</footer>