<a href="/search"><img src="/images/back.png" alt="back" class="back"></a>
<h3>Place Details</h3>
<div class="text-center">
<img class="rounded img-fluid detailsImg" src={{place.image}} alt="image of the place">
<br>
<br>
<div class="list-group">
  <li class="list-group-item">Place type: {{{place.place}}}</li>
  <textarea class="list-group-item">Description: {{{place.description}}}</textarea>
  <textarea class="list-group-item">Comments: {{{place.opinions}}}</textarea>
</div>
</div>


<div id="comments">
      <p>Comments:</p>
            {{#each place.opinions}}
            <p>{{this.createdAt}}<br><br></p>
            <p>"{{this.opinions}}"<br><br></p>
            {{/each}}
            </div>


<br>
<button class="btn-outline-secondary" type="submit"><a class="letter" href="/places/opinions/{{{place._id}}}">Share my opinion</a></button>

 
<footer>
      <!-- Home -->
      <a href="/"><img src="/images/home.png" lat="home" class="home"></a>
      <!-- Add -->
      <a href="/places/add"><img src="/images/plus.png" lat="add" class="plus"></a>
      <!-- Profile -->
      <a href="/profile"><img src="/images/profile.png" lat="profile" class="profile"></a>
</footer>