<a href="/"><img src="/images/back.png" alt="back" class="back"></a>

<h4>Choose where you want to go:</h4>
<br>
<br>
<div  id="mapid"></div>
 <br>
<div class="leaflet-control coordinates"></div>


<script>
	const map = L.map('mapid').setView([47.3769, -8.5417], 3);
	
//leaflet map
	var OpenStreetMap_HOT = L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
	maxZoom: 19,
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Tiles style by <a href="https://www.hotosm.org/" target="_blank">Humanitarian OpenStreetMap Team</a> hosted by <a href="https://openstreetmap.fr/" target="_blank">OpenStreetMap France</a>'
});
OpenStreetMap_HOT.addTo(map);

//Google SatMap
var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
    maxZoom: 20,
    subdomains:['mt0','mt1','mt2','mt3']
});
//googleSat.addTo(map)

//Google StreetMap	
var googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
    maxZoom: 20,
    subdomains:['mt0','mt1','mt2','mt3']
});
googleStreets.addTo(map)




var myIcon = L.icon({
    iconUrl: '/images/42578_adobespark.png',
    iconSize: [50, 50],
    iconAnchor: [25, 16]
});


/*
let normalMarker =  L.marker([40.3925, -3.6984]).addTo(map)
let normalPopUp= normalMarker.bindPopup('<a href="http://localhost:3000/places">Ironhack</a><br> Dog friendly bootcamp.'+ normalMarker.getLatLng())
normalPopUp.addTo(map)
*/

/*
let beachMarker = L.marker([39.7117, -8.1238], {icon: myIcon, draggable:true }).addTo(map)
let popup = beachMarker.bindPopup('<a href="http://localhost:3000/places">Dog Park</a><br> Dog friendly.' + beachMarker.getLatLng())
popup.addTo(map); */

//console.log(beachMarker.toGeoJSON());

let ironBootcamps = L.geoJSON(ironhack).addTo(map);
let ironPopUp= ironBootcamps.bindPopup('<a href="https://www.ironhack.com/">Ironhack</a><br> Dog friendly bootcamp.')
ironPopUp.addTo(map)

var baseLayers = {
    "StreetMaps": googleStreets,
    "SatMaps": googleSat
	
};
/*
var overlays = {
    "Marker": normalMarker,
	"Ironhack": ironBootcamps

};
*/


L.control.layers(baseLayers).addTo(map);

/*let beachMarker = L.marker([39.7117, -8.1238], {icon: myIcon, draggable:true }).addTo(map)
let popup = beachMarker.bindPopup('<a href="http://localhost:3000/places">Dog Park</a><br> Dog friendly.' + beachMarker.getLatLng())
popup.addTo(map);*/



</script>

{{#each places }}
{{log this}}
<script>
var marker = L.marker([{{{this.latitude}}}, {{{this.longitude}}}]).addTo(map);
marker.bindPopup('{{{this.place}}}<br> <a href="/places/details/{{{this._id}}}">Details</a>')
popup.addTo(map);
</script>
{{/each}}

<a href=""></a>

<script>
	console.log( {{{loc}}} ) // prints   [51.505, -0.09]
</script>

<footer>
      <!-- Home -->
      <a href="/"><img src="/images/home.png" alt="home" class="home"></a>
      <!-- Add -->
      <a href="/places/add"><img src="/images/plus.png" alt="add" class="plus"></a>
      <!-- Profile -->
      <a href="/profile"><img src="/images/profile.png" alt="profile" class="profile"></a>
</footer>